<center>
<div class="trackBox" id="sortable">
  <a class="dblink" target="_blank" href="https://calendly.com/joe-rezendes"><div class="square Schedule"><p align="center">Schedule</p></div></a>
  <a class="dblink" href="/reports/{{currentUser._id}}"><div class="square viewreports"><p align="center">View Reports</p></div></a>
  <a class="dblink" href="/assignments/{{currentUser._id}}"><div class="square weeklyassignments"><p align="center">Weekly Assignments</p></div></a>
  <a class="dblink" target="_blank" href="/help/{{currentUser._id}}"><div class="square getHelp"><p align="center">Ask For Help</p></div></a>
  <a class="dblink" target="_blank" href="https://chrome.google.com/webstore/detail/chrome-remote-desktop/gbchcmhmhahfdphkhkmpfmihenigjmpp?hl=en"><div class="square shareScreen"><p align="center">Remote Desktop</p></div></a>



  {{#if currentUser.sessionFirst}}
  <!--First session link with sign up info for different tools-->
  <a class="dblink" href="session-tools"><div class="square entersession"><p align="center">Install Tools</p></div></a>
  {{else}}
  <!--Permanent Google hangouts Link--> <!--You need to add these manually to database-->
  <a class="dblink" target="_blank" href="{{currentUser.session}}"><div class="square entersession"><p align="center">Enter Session</p></div></a>
  {{/if}}



  </div>
  <h4 class="whiteout" align="center">Your next session with {{currentUser.teacher}} is {{currentUser.nextSession}}</h4>
</center>
