<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
<body class="spacey">
<h1 class="whiteout" align="center">Weekly Assignments</h1>

{{#if currentUser.teacheracc}}
<hr>
<div class="container">
  <center><button class="btn btn-info newReport">New Assignment</button></center>

  <div class="reportPanel">
  <div class="container">
    {{> assign-form}}
    <hr>

  </div>
</div><!--reportPanel-->
</div>

<div style="margin-top: 50px;"></div>
{{#each assignments}}

      <div class="letter">
        <h1>{{this.title}}</h1>
        <h3>{{this.date}}</h3>
        {{this.content}} 


        <!--Delete-->
        <form method="POST" action="/assignments/{{this._id}}?_method=DELETE">
          <input type="hidden" name="assignmentId" value={{this._id}}>
        <button class="aabt aabtdel btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash"></i></button>
        </form>


      </div>

      {{/each}}

      <div style="margin-top: 50px;"></div>


{{else}}

{{#each assignments}}


<div style="margin-top: 50px;"></div>

      <div class="letter">
        <h1>{{this.title}}</h1>
        <h3>{{this.date}}</h3>
        {{this.content}} <br><br>
      </div>

{{/each}}

<div style="margin-top: 50px;"></div>


{{/if}}






<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
