<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
<body class="dashbkg">

{{#if currentUser.firstTime}}
<div class="modelbox animated bounceInDown">
  <h1 class="whiteout" align="center">Welcome <span style="color: #ecf0f1">{{currentUser.username}}!</span></h1>
  <h2 class="whiteout" align="center">It's your first time here! Please visit the <a style="color: #ecf0f1" href="/firstvisit">Profile Builder</a> to move on!</h2>
  <a style="margin-top: 30px; margin-left: 100px; margin-right: 100px;" role="button" class="btn btn-primary" href="/firstvisit">PROFILE BUILDER</a>
</div>
{{else}}
<h1 class="whiteout" align="center">{{currentUser.firstname}}'s Dashboard!</h1>




{{/if}}

{{#if currentUser.student}}
{{#if currentUser.beginner}}
<h2 class="whiteout" align="center">Beginners Web Course</h2>

<div class="trackBox" id="sortable">
  <div class="square Schedule"><p align="center"><a target="_blank" href="https://calendly.com/joe-rezendes">Schedule</p></a></div>
  <div class="square viewreports"><p align="center"><a href="/reports/{{currentUser._id}}">View Reports</p></a></div>
  {{#if currentUser.sessionFirst}}
  <!--First session link with sign up info for different tools-->
  <div class="square entersession"><p align="center"><a href="session-tools">Install Tools For Session</p></a></div>
  {{else}}
  <!--Permanent Google hangouts Link--> <!--You need to add these manually to database-->
  <div class="square entersession"><p align="center"><a target="_blank" href="{{currentUser.session}}">Enter Session</p></a></div>
  {{/if}}</div>
  <h4 class="whiteout" align="center">Your next session with {{currentUser.teacher}} is {{currentUser.nextSession}}</h4>

{{else if currentUser.intermediate}}
<h2 class="whiteout" align="center">Intermediate Web Course</h2>

<div class="trackBox" id="sortable">
  <div class="square Schedule"><p align="center"><a target="_blank" href="https://calendly.com/joe-rezendes">Schedule</p></a></div>
  <div class="square viewreports"><p align="center"><a href="/reports/{{currentUser._id}}">View Reports</p></a></div>
  {{#if currentUser.sessionFirst}}
  <!--First session link with sign up info for different tools-->
  <div class="square entersession"><p align="center"><a href="session-tools">Install Tools For Session</p></a></div>
  {{else}}
  <!--Permanent Google hangouts Link--> <!--You need to add these manually to database-->
  <div class="square entersession"><p align="center"><a target="_blank" href="{{currentUser.session}}">Enter Session</p></a></div>
  {{/if}}
</div>
<h4 class="whiteout" align="center">Your next session with {{currentUser.teacher}} is {{currentUser.nextSession}}</h4>

{{else if currentUser.advanced}}
<h2 class="whiteout" align="center">Advanced Web Course.</h2>

<div class="trackBox" id="sortable">
  <div class="square Schedule"><p align="center"><a target="_blank" href="https://calendly.com/joe-rezendes">Schedule</p></a></div>
  <div class="square viewreports"><p align="center"><a href="/reports/{{currentUser._id}}">View Reports</p></a></div>
  {{#if currentUser.sessionFirst}}
  <!--First session link with sign up info for different tools-->
  <div class="square entersession"><p align="center"><a href="session-tools">Install Tools For Session</p></a></div>
  {{else}}
  <!--Permanent Google hangouts Link--> <!--You need to add these manually to database-->
  <div class="square entersession"><p align="center"><a target="_blank" href="{{currentUser.session}}">Enter Session</p></a></div>

  {{/if}}</div>
  <h4 class="whiteout" align="center">Your next session with {{currentUser.teacher}} is {{currentUser.nextSession}}</h4>


{{else}}

<h1 class="whiteout" align="center">You are not currently enrolled in a track.</h1>

{{/if}}
{{/if}}

{{#if currentUser.teacheracc}}
<h1 class="whiteout" align="center">Teachers Desk</h1>

<div class="trackBox" id="sortable2">
  <div class="square admin"><p align="center"><a href="/admin">Admin</p></a></div>
  <div class="square viewstudents"><p align="center"><a href="teacherview">View Students</p></a></div>
  <div class="square entersession"><p align="center"><a href="{{currentUser.session}}">Enter Session</p></a></div>
</div>

{{/if}}

{{#if currentStudent}}
{{/if}}



<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
