<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
<body class="dashbkg">

{{#if currentUser.firstTime}}
<div class="modelbox animated bounceInDown">
  <h1 class="whiteout" align="center">Welcome <span style="color: #ecf0f1">{{currentUser.username}}!</span></h1>
  <h2 class="whiteout" align="center">It's your first time here! Please visit the <a style="color: #ecf0f1" href="/firstvisit">Profile Builder</a> to move on!</h2>
  <a style="margin-top: 30px; margin-left: 100px; margin-right: 100px;" role="button" class="btn btn-primary" href="/firstvisit">PROFILE BUILDER</a>
</div>
{{else}}
<h1 class="whiteout" align="center">{{currentUser.firstname}}'s Dashboard!</h1>




{{/if}}

{{#if currentUser.addGithub}}
<div class="modelbox animated bounceInDown">
<h1 style="color: white;" align="center">Hey {{currentUser.username}}! Your teacher has requested your GitHub Username.</h1>
<center>
  <form method="POST" action="/github/post">
    <input type="text" name="github" placeholder="github username">
    <input type="submit" class="btn btn-danger" value="Submit">
  </form>

  <a target="_blank" style="margin-top: 30px; color: white;" href="https://github.com/join">Register Here</a>

</center>
</div>
{{/if}}

{{#if currentUser.student}}
{{#if currentUser.beginner}}

<h2 class="whiteout" align="center">Beginners Web Course</h2>

  {{> dashbuttons}}


{{else if currentUser.intermediate}}

<h2 class="whiteout" align="center">Intermediate Web Course</h2>

{{> dashbuttons}}

{{else if currentUser.advanced}}
<h2 class="whiteout" align="center">Advanced Web Course.</h2>

{{> dashbuttons}}


{{else}}

<h3 class="whiteout" align="center">You are not currently enrolled in a track.</h3>

{{/if}}
{{/if}}

{{#if currentUser.teacheracc}}
<h3 class="whiteout" align="center">Teachers Desk</h3>
<center>
<div class="trackBox" id="sortable2">
  <div class="square admin"><p align="center"><a href="/admin">Admin</p></a></div>
  <div class="square viewstudents"><p align="center"><a href="teacherview">View Students</p></a></div>
  <div class="square getHelp"><p align="center"><a target="_blank" href="admin/help/">Ask For Help</p></a></div>
  <div class="square shareScreen"><p align="center"><a target="_blank" href="https://chrome.google.com/webstore/detail/chrome-remote-desktop/gbchcmhmhahfdphkhkmpfmihenigjmpp?hl=en">Remote Desktop</p></a></div>
  <div class="square entersession"><p align="center"><a href="{{currentUser.session}}">Enter Session</p></a></div>
</div>
</center>
{{/if}}

{{#if currentStudent}}
{{/if}}



<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
