<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/profile.css">
<script src="/profile.js"></script>
<body>
{{#if currentUser.teacheracc}}

{{#each users}}

<center>
  <div class="student">
     <h1 align="center">{{this.firstname}} {{this.lastname}}</h1>
     <div class="clickables">
       <a class="clicklink" href="/reports/{{this._id}}">View Reports</a>
       <a class="clicklink" href="/assignments/{{this._id}}">View Assignments</a>
       <a class="clicklink" target="_blank" href="https://github.com/{{this.github}}">Github</a>
       <a class="clicklink" target="_blank" href="https://www.freecodecamp.org/{{this.freecodecamp}}">FreeCodeCamp</a>
       <a class="clicklink" target="_blank" href="../admin">Update Student Info</a>
     </div>

     <div class="studentData">
     Username: {{this.username}}
     Age: {{this.Age}}
     {{this.email}}
     {{this.phone}}
     {{this.School}}
     {{#if this.beginner}} Beginner: {{this.beginner}} {{else if this.intermediate}}  Intermediate: {{this.intermediate}} {{else if this.advanced}}  Advanced: {{this.advanced}}  {{/if}}
     {{this.location}}
     {{this.nextSession}}
     {{this.teacher}}
     {{#if this.web}}{{this.web}}{{else if this.mobile}}{{this.mobile}}{{/if}}
     {{this.session}}
    </div>
  </div>
</center>

{{/each}}
{{else}}

{{#each users}}
{{this.firstname}} {{this.lastname}}
{{#if this.teacheracc}}
{{this.email}}
{{this.phone}}

{{/if}}

{{/each}}

{{/if}}

<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>

</body>
