<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/dashboardstyle.css">
<body class="dashbkg">
{{#if currentUser.teacheracc}}
<h1 class="whiteout" align="center">CodingForKids Student Board</h1>


{{#each users}}
<div style="margin-top: 10px; width: 95%;" id="instructions" class="paper">

<li><a href="/reports/{{this._id}}">{{this.firstname}} {{this.lastname}}</a> | Username: {{this.username}} | Age: {{this.Age}} | {{this.email}} | {{this.phone}} | {{this.School}} | {{#if this.beginner}} Beginner: {{this.beginner}} {{else if this.intermediate}}  Intermediate: {{this.intermediate}} {{else if this.advanced}}  Advanced: {{this.advanced}}  {{/if}} | {{this.location}} | {{this.nextSession}} | {{this.teacher}} | {{#if this.web}}  {{this.web}} | {{else if this.mobile}}
   {{this.mobile}} |   {{/if}}  {{this.session}} | <a href="/assignments/{{this._id}}">Assignments</a> | <a href="https://github.com/{{this.github}}">Github</a> | <a href="https://www.freecodecamp.org/{{this.freecodecamp}}">FreeCodeCamp</a>
</div>
{{/each}}

{{else}}
<h1 class="whiteout" align="center">This is for teachers only.</h1>
{{/if}}



<div style="display: none;">
<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
</div>
